---
import Actividad from "@/components/events/md-26/Actividad.astro"
import Footer from "@/components/events/md-26/Footer.astro"
import Inicio from "@/components/events/md-26/Inicio.astro"
import Nav from "@/components/events/md-26/Nav.astro"
import Organizers from "@/components/events/md-26/Organizers.astro"
import Sobre from "@/components/events/md-26/Sobre.astro"
import BaseLayout from "@/layout/BaseLayout.astro"
---

<BaseLayout
  title="WTM Sucre · Mural de Mamá"
  description="Construye con nosotras el mural colaborativo más grande del Día de la Madre. Women Techmakers Sucre."
  theme="light"
>
  <Nav />
  <main class="bg-[#FFFCF2]">
    <Inicio />
    <Actividad />
    <Organizers />
    <Sobre />
  </main>
  <Footer />
</BaseLayout>
