---
import Header from "@/components/events/wtm-home/Header.astro"
import BaseLayout from "@/layout/BaseLayout.astro"
---

<BaseLayout
  title="WTM Sucre · La comunidad tech femenina más moderna de Sucre"
  description="Aprendemos, construimos y lideramos. Eventos, workshops y mentoría para impulsar a mujeres en tecnología. Women Techmakers Sucre."
  theme="dark"
>
  <Header />
     <p class="font-grotesk font-normal">Pagina oficial del WTM Sucre</p>
     <p class="font-grotesk font-normal">Coming soon...</p>
</BaseLayout>
