---
import Header from "@/components/events/bwai-26/Header.astro"
import BaseLayout from "@/layout/BaseLayout.astro"

import { getProfile } from "@/lib/services/profileService"
import { getEventRegistration } from "@/lib/services/registrationService"
import { createUserClient } from "@/lib/supabase"

const supabase = await createUserClient(Astro.cookies)

const profile = await getProfile(supabase)
if (!profile) return Astro.redirect("/")

const registration = await getEventRegistration(supabase, profile?.id, Astro.params.eventSlug || "")

if (!registration || registration?.status !== "pending") return Astro.redirect("/")
---

<BaseLayout theme="light">
  <Header />
  <main class="mt-16 pt-12 flex">
    <div class="mx-auto px-4">
      <h1 class="text-xl mb-4">¡Hola, {profile?.first_name}!</h1>
      <p>
        Estamos procesando tu registro, Revisa tu correo donde te informaremos cuando haya sido
        validado.
        <br />
        Mientras esperas, te invitamos a nuestra
        <a
          href="https://chat.whatsapp.com/EHtkjWuuhPh8cPDY8U9A7O"
          class="text-green-500 font-medium underline">Comunidad en WhatsApp</a
        >
      </p>
    </div>
  </main>
</BaseLayout>
