---
import About from "@/components/events/iwd-26/About.astro"
import Footer from "@/components/events/iwd-26/Footer.astro"
import Header from "@/components/events/iwd-26/Header.astro"
import Hero from "@/components/events/iwd-26/Hero.astro"
import PackageSection from "@/components/events/iwd-26/PackageSection.astro"
import Sponsors from "@/components/events/iwd-26/Sponsors.astro"
import SpeakersSection from "@/components/events/iwd-26/speakers/Speakers.astro"
import BaseLayout from "@/layout/BaseLayout.astro"
---

<BaseLayout
  theme="light"
  title="WTM Sucre"
  description="Celebrando a las mujeres en tecnología. Un espacio para conectar, aprender y desafiar los límites establecidos."
>
  <Header />
  <main class="flex-1">
    <Hero />
    <About />
    <PackageSection />
    <SpeakersSection />
    <Sponsors />
  </main>
  <Footer />
</BaseLayout>
