---
const imgLogo = "/assets/figma/logotipo.svg"
---
<footer class="flex flex-col md:justify-center lg:justify-center bg-[#FAFAF6] border-t-2 border-black py-8 px-5.5 md:px-24 lg:px-32 gap-5 lg:gap-6 ">
  
  <div class="flex md:items-center lg:items-center flex-col gap-4.5 lg:gap-6 text-sm lg:text-xl">
    <img alt="" class="w-36 lg:w-72" src={imgLogo} />
    <p>Organizado por GDG Sucre, el punto de encuentro para desarrolladores.</p>
  </div>

  <div class="flex flex-row gap-8 justify-between lg:gap-12">
      <!-- <div class="flex flex-col gap-2.5 items-start text-xs lg:text-base">
        <p class="font-black lg:font-bold text-xs lg:text-2xl">EVENTO</p>
        <a href="#que-es" class="hover:underline">¿Qué es?</a>
        <a href="#agenda" class="hover:underline">Agenda</a>
        <a href="#speakers" class="hover:underline">Speakers</a>
        <a href="#faq" class="hover:underline">FAQ</a>
      </div> -->
      <div class="flex flex-col gap-2.5 items-start text-xs lg:text-base">
        <p class="font-black lg:font-bold text-xs lg:text-2xl">ORGANIZA</p>
        <p>GDG Sucre</p>
        <p>SIB Chuquisaca</p>
        <p>CISICH</p>
      </div>
      <div class="flex flex-col gap-2.5 items-start text-xs lg:text-base">
        <p class="font-black lg:font-bold text-xs lg:text-2xl">CONTACTO</p>
        <a href="mailto:gdgsucre@gmail.com" class="hover:underline">gdgsucre@gmail.com</a>
        <a href="https://www.instagram.com/gdg.sucre" class="hover:underline">Instagram</a>
        <a href="https://www.linkedin.com/company/gdgsucre/" class="hover:underline">LinkedIn</a>
      </div>
  </div>
  
  <div class="flex flex-col lg:items-center text-gray-400 text-xs lg:text-base gap-1 lg:gap-2 lg:w-95 mx-auto md:text-center lg:text-center py-3">
    <p>© 2026 GDG Sucre · Build with AI es una iniciativa de Google Developer Groups.</p>
    <p>Sucre, Bolivia 🇧🇴</p>
  </div>

</footer>