---
const imgLogo = "/assets/figma/LogoBuilt.svg"
const arrowIconWhite = "/assets/figma/arrow.svg"
const arrowIconBlack = "/assets/figma/arrow-black.svg"
---

<section
  class="flex w-full justify-center flex-col items-center gap-4 lg:gap-6 px-6 py-10 lg:py-28"
>
  <div
    class="flex items-center gap-2 lg:gap-4 border-2 border-black px-3.5 py-1.5 rounded-full"
  >
    <div class="border-2 h-4 w-4 rounded-full border-black bg-red-500"></div>
    <span class="text-xs lg:text-base font-bold">GDG Sucre presenta</span>
  </div>

  <img
    alt=""
    class="w-full md:max-w-2xl lg:max-w-4xl md:my-4 lg:my-8"
    src={imgLogo}
  />

  <div
    class="flex items-center gap-2 lg:gap-4 border-2 border-black px-6 py-2.5 rounded-full"
  >
    <span class="text-xl lg:text-2xl font-bold">Sucre 2026</span>
  </div>

  <p class="text-base lg:text-2xl">
    Dos días para aprender, construir y conectar con la comunidad que está
    armando el futuro con IA en Bolivia.
  </p>

  <div
    class="flex flex-col gap-4 lg:gap-6 items-center w-full md:max-w-md lg:max-w-md"
  >
    <a
      href="/registro/bwai-26"
      class="flex justify-center items-center gap-4 bg-black border-2 border-black px-6 py-5 rounded-full text-white w-full hover:bg-[#333] transition-colors text-center text-base lg:text-2xl font-bold"
    >
      <span>Quiero mi lugar</span>
      <img alt="" class="w-4 md:w-5" src={arrowIconWhite} />
    </a>
    <a
      href="https://docs.google.com/document/d/1KR5wX3ZE4JFTlw9_ENKGXnFUp2KIqkQa-zL96kUviN4/edit?usp=sharing"
      class="flex justify-center items-center gap-4 bg-white border-2 border-black px-6 py-5 rounded-full text-black w-full hover:bg-[#f0f0f0] transition-colors text-center text-base lg:text-2xl font-bold"
    >
      <span>Ver convocatoria</span>
      <img alt="" class="w-4 md:w-5" src={arrowIconBlack} />
    </a>
  </div>
</section>
