---
import Countdown from "@/components/events/bwai-26/Countdown.astro"

const imgMdiCalendar = "/assets/figma/7a1c156f96ab2633796c12bb6993712de5465a6b.svg"
const imgIcBaselinePlace = "/assets/figma/fa69afda4d4860d1e050c2b9dca4939ee7fabb75.svg"
---

<section class="w-full flex flex-col items-start p-5 lg:px-20 lg:py-24 gap-4 lg:gap-14" id="info">
  <h2
    class="bg-white border-2 border-black rounded-xs md:rounded-lg px-2 py-1 text-xs font-bold lg:px-4 lg:py-3 lg:text-2xl"
  >
    FECHA Y LUGAR
  </h2>
  <div class="w-full flex flex-col gap-12 lg:gap-24 lg:items-center lg:justify-center lg:flex-row">
    <div class="w-full flex flex-col gap-4 lg:gap-16 lg:max-w-170">
      <h3 class="text-4xl font-bold lg:text-6xl">Cuándo y dónde</h3>
      <div class="flex flex-col md:flex-row md:gap-4 lg:flex-col">
        <div
          class="w-full flex flex-col p-5 border-2 lg:border-3 border-black rounded-3xl gap-1 bg-[#E7EFFE] mb-4 lg:mb-8 lg:px-8 lg:py-6"
        >
          <p class="text-xs font-bold lg:text-2xl">FECHAS</p>
          <p class="flex gap-2.5 font-bold items-end">
            <span class="text-5xl lg:text-6xl lead">9 y 10</span>
            <span class="text-lg lg:text-3xl">de mayo</span>
          </p>
          <p class="text-base text-gray-800 lg:text-2xl">Sábado y domingo · 2026</p>
          <div class="flex items-center gap-1.5">
            <img
              src={imgMdiCalendar}
              alt=""
              width="15px"
              height="16px"
              class="w-3.75 h-4 lg:size-5"
            />
            <p class="text-base font-bold lg:text-xl">9:00 a 18:00 · Hora Bolivia (GMT-4)</p>
          </div>
        </div>

        <div
          class="w-full flex flex-col p-5 border-2 lg:border-3 border-black rounded-3xl gap-1.5 bg-[#FFE5E6] lg:px-8 lg:py-6"
        >
          <p class="text-xs font-bold lg:text-2xl">LUGAR</p>
          <p class="font-bold text-2xl lg:text-4xl lg:mt-2">SIB Chuquisaca</p>
          <p class="text-base text-gray-800 lg:text-xl">
            Sociedad de Ingenieros de Bolivia — Filial Chuquisaca
          </p>
          <div class="flex items-top gap-1.5">
            <img
              src={imgIcBaselinePlace}
              alt=""
              width="15px"
              height="16px"
              class="w-3.75 h-4 lg:size-5 mt-1"
            />
            <p class="text-base font-bold lg:text-xl">Calle Destacamento 111 #192, Sucre, Bolivia</p>
          </div>
          <a
            href="https://maps.app.goo.gl/7UxoLEcjRJ7eNJSY6"
            class="text-base font-bold lg:text-2xl underline">Ver en el mapa ↗</a
          >
        </div>
      </div>
    </div>
    <div class="w-full lg:max-w-200">
      <Countdown />
    </div>
  </div>
</section>
